@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.modal-window {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .9);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hide-modal {
  display: none;
}

.close-icon {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  margin-block: 10px;
}

.modal-info {
  background-color: #FFF;
  border-radius: 25px;
  padding: 20px;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  display: flex;
  justify-content: center;
  column-gap: 5px;
  align-items: center;
}

.paginator-container {
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.cryptos-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: center;
  padding-inline: 30px 10px;
}

.triangle-container {
  padding: 10px;
  cursor: pointer;
}

.left-triangle {
  transform: rotate(270deg);
}

.rigth-triangle {
  transform: rotate(90deg);
}

.div-disabled {
  pointer-events: none;
  display: none;
}

.currency-item {
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
}